name: push-and-prs-on-main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v6
    - name: sw_vers
      run: sw_vers
    - name: Available Xcodes
      run: ls /Applications | grep Xcode
    - name: Switch to Xcode
      run: sudo xcode-select -s "/Applications/Xcode_26.2.app/Contents/Developer"
    - name: Xcode - Accept License
      run: sudo xcodebuild -license accept
    - name: Xcode - First Launch
      run: xcodebuild -runFirstLaunch
    - name: Xcode Version
      run: xcodebuild -version
    - name: Install iOS
      run: xcodebuild -downloadPlatform iOS
    - name: Install tvOS
      run: xcodebuild -downloadPlatform tvOS
    - name: Show SDKs
      run: xcodebuild -showsdks
    - name: Show Destinations
      run: xcodebuild -scheme SiteApp -showdestinations
    - name: Build / Test
      run: xcodebuild test -verbose -skipPackagePluginValidation -scheme SiteApp -destination "platform=macOS,arch=arm64" CODE_SIGNING_ALLOWED=NO
    - name: Build iOS / macOS / tvOS
      run: xcodebuild -verbose -skipPackagePluginValidation -scheme SiteApp -destination "platform=iOS Simulator,name=iPhone 17,arch=arm64" -destination "platform=macOS,arch=arm64" -destination "platform=tvOS Simulator,name=Apple TV,arch=arm64"
